{% load staticfiles %}
{% load game_links %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Untitled{% endblock %}</title>

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

              <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
              <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
              <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
              <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Kangaroo Black</a>
                </div>
                
                <div class="collapse navbar-collapse" id="main-menu-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'home' %}">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="hidden-sm">Home</span>
                            </a>
                        </li>
                        <li class="dropdown">                          
                            <a href="/campaigns" class="dropdown-toggle" data-toggle="dropdown">
                                Campaigns <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">                                
                                <li><a href="{% url 'campaigns:index' %}">All</a></li>
                                <li><a href="{% url 'campaigns:index' %}">Looking for players</a></li>
                                <li class="divider"></li>
                                {% url 'campaigns:index' as campaign_url %}
                                {% game_links campaign_url %}
                                {% if user and not user.is_anonymous %}
                                    <li class='divider'></li>
                                    <li><a href="{% url 'campaigns:mine' %}">My Campaigns</a></li>
                                    <li><a href="{% url 'campaigns:new' %}">Start a new campaign</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/armies" class="dropdown-toggle" data-toggle="dropdown">
                                Armies <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'armies:index' %}">All</a></li>
                                {% url 'armies:index' as armies_url %}
                                {% game_links armies_url %}
                                {% if user and not user.is_anonymous %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'armies:mine' %}">My Armies</a></li>
                                    <li><a href="{% url 'armies:new' %}">Create a new Army</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if user and not user.is_anonymous %}
                        <li class="dropdown">
                            <a class="dowpdown-toggle" data-toggle="dropdown">
                                Hello {{ user.get_full_name|default:user.username}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{% url 'profile:edit' user.username %}">
                                        My Profile
                                    </a>
                                </li>
                                <li><a href="/logout/?next=/">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Login with <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Facebook</a></li>
                                <li><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Twitter</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>

                </div> <!-- .navbar-collapse -->
            </div> <!-- .container-fluid --> 
        </nav>
        
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            
            <div class="row">
                <div class="col-xs-12">
                    {% block main %}Content goes here{% endblock %}
                </div>
            </div>
        </div><!-- .container-fluid -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>