{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ page_title }}{% endblock %}

{% block main %}
<form method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {% for error in field.errors %}
                <div class="col-xs-12 alert alert-danger">{{ error }}</div>
            {% endfor %}
            <label for="{{field.name}}" class="control-label col-xs-12 col-sm-2">
                {{field.label_tag}}
            </label>
            <div class="col-xs-12 col-sm-10">
                {{ field|add_class:"form-control" }}
            </div>
            <p class="help-block col-xs-12 col-sm-offset-2">{{ field.help_text }}</p>
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-xs-6">
            {% if delete %}
                <a href="{% url delete.path delete.value %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
        <div class="col-xs-6 text-right">
            <button type="submit" class="btn btn-primary block-right">Submit</button>
        </div>
    </div>
    
    
</form>
{% endblock %}
