{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ profile.username|default:profile.user }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
        <h1 class="visible-xs">
            {{ profile.user.username | default:profile }}
            {% if editable %}
            <a href="{% url 'profile:edit' profile.user.username %}" class='btn btn-default'>Edit</a>
            {% endif %}
        </h1>
        <img src="http://placehold.it/207x310/&text=photo" class="col-xs-12" />
    </div>
    <div class="col-xs-6 col-sm-9 col-md-10">
        <h1 class="hidden-xs">
            {{ profile.username|default:profile.user }}
            {% if editable %}
            <a href="{% url 'profile:edit' profile.user.username %}" class='btn btn-default'>Edit</a>
            {% endif %}
        </h1>
        <p>{{ profile.bio|markdown }}</p>
    </div>
</div> <!-- .row -->

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h2>Campaigns</h2>
        {% for campaign in campaigns %}
        <div class='row'>
            <div class="col-xs-6">
                <a href="{% url 'campaigns:detail' campaign.pk %}">
                    {{ campaign.name }}
                </a>
            </div>
            <div class="col-xs-6">
                {{ campaign.participants }}
            </div>
        </div>
        {% empty %}
        <p>{{ profile.username|default:profile.user }} is not participating in 
            any campaigns</p>
        {% endfor %}
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-striped">
            <caption>Armies</caption>
            <thead>
                <tr><th>Name</th><th>Faction</th><th>Game</th></tr>
            </thead>
            <tbody>
                {% for army in armies %}
                <tr>
                    <td>
                        <a href="{% url 'armies:detail' army.pk %}">
                            {{ army }}
                        </a>
                    </td>
                    <td>{{ army.faction.game }}</td>
                    <td>{{ army.faction }}</td>
                </tr>
                {% empty %}
                <tr><td>{{ profile.username|default:profile.user }} has no armies on file</td></tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}