<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>You have been Challenged by {{c.challenger}}!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>You have been Challenged by {{c.challenger}}!</h1>
            <p>You have been challenged by {{c.challenger}} in 
                {{c.turn}} of the {{c.turn.campaign}}.</p>
            <a href="http://{{ host }}{% url 'turns:challenge_accept' challenge.uuid %}" class='btn btn-default'>
                Accept the challenge
            </a>
            <p>Note: You will need to log in to accept this challenge.</p>
        </div>
    </body>
</html>
