<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Campaign Invitaion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Wargames campaign invitation for {{ campaign }}</h1>
            <p>You have been invited to join the {{ campaign }} campaign by
                {{ campaign.moderator }}.</p>
            <a href="http://{{ host }}{% url 'invitations:accept' invitation.uuid %}" class='btn btn-default'>
                Accept the invitation
            </a>
            <p>Note: You will need to log in to accept this invitation</p>
        </div>
    </body>
</html>
