{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sx-12">
        <h1>
            {{ campaign.name }}
            {% if editable %}
                <a href="{% url 'campaigns:edit' campaign.pk %}" class="btn btn-default">Edit</a>
            {% endif %}
        </h1>
        <h3>by {{campaign.moderator}}</h3>
        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">{{ campaign.game }}</div>
    <div class="col-xs-12">{{ campaign.get_status_value }}</div>
    <div class="col-xs-12">{{ campaign.blurb|markdown }}</div>
</div>
<div class='row'>
    <table class="table table-striped table-hover cols-xs-8">
        <caption>Participants</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>General</th>
            </tr>
        </thead>
        {% for participant in campaign.participants.all %}
        <tr>
            <td>
            {% for army in participant.army_set.all %}
                {% if army.campaign == campaign %}
                <a href="{% url 'armies:detail' army.pk %}">{{ army }}</a>
                {% endif %}
            {% endfor %}
            </td>
            <td><a href="{% url 'profile:detail' participant.username %}" >{{participant}}</a></td>
        </tr>
        {% empty %}
        <tr><td>There are currently no participants in this campaign</td></tr>
        {% endfor %}
        {% if editable %}
        <tfoot>
            <tr>
                <td>
                    <a href="{% url 'invitations:send' campaign.pk %}" class='btn btn-primary'>
                        Extend an invitation to this campaign
                    </a>
                </td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>
{% endblock %}
