{% extends 'base.html' %}

{% block title %}{{ campaign.game|default:'All' }} campaigns{% endblock %}

{% block main %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Game</th>
                <th>Moderator</th>
                <th># Players</th>
                <th>Status</th>
              
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td>
                    <a href="{% url 'campaigns:detail' campaign.pk %}">
                        {{ campaign.name }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'campaigns:index' campaign.game.slug %}">
                    {{ campaign.game }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'profile:detail' campaign.moderator.username %}">
                        {{ campaign.moderator }}
                    </a>
                </td>
                <td>{{ campaign.player_count }}</td>
                <td>{{ campaign.get_status_display }}</td>
            </tr>
            {% empty %}
            <tr><td>No campaigns found</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
