{% extends 'campaigns_base.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ campaign.name }}{% endblock %}

{% block main %}

<h1>{{ campaign.name }} <small>{{ campaign.game }}</small></h1>

<div class="col-xs-12">{{ campaign.blurb|markdown }}</div>

<div class="panel table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>General</th>
                <td>Faction</td>
                <th class="text-center">
                    <span class="visible-xs">CP</span>
                    <span class="hidden-xs">Campaign Points</span>
                </th>
                <th class="text-center">
                    <span class="visible-xs">VP</span>
                    <span class="hidden-xs">Victory Points</span>
                </th>
                <th class="text-center hidden-xs">Win</th>
                <th class="text-center hidden-xs">Draw</th>
                <th class="text-center hidden-xs">Loss</th>
                <th class="text-center hidden-xs">Matches</th>
                {% if not user.is_anonymous and is_participant %}
                <th>
                    <span class="glyphicon glyphicon-screenshot"></span>
                    <span class="hidden-xs">Challenge</span>
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for p in campaign.campaign_profiles %}
            <tr>
                <td>{{ p }}</td>
                <td>{{ p.faction }}</td>
                <td class="text-center">{{ p.cp|default:0 }}</td>
                <td class="text-center">{{ p.vp|default:0 }}</td>
                <td class="text-center hidden-xs">{{ p.win|default:0 }}</td>
                <td class="text-center hidden-xs">{{ p.tie|default:0 }}</td>
                <td class="text-center hidden-xs">{{ p.loss|default:0 }}</td>
                <td class="text-center hidden-xs">{{ p.matches|default:0 }}</td>
                {% if not user.is_anonymous %}
                <td>
                    {% if campaign.status == campaign.STATUS_PLAYING and is_participant and p.user != user %}
                    <a href="{% url 'turns:challenge_send' campaign.current_turn.pk p.user.pk %}"
                       class="tooltipped" data-toggle="tooltip" title="Challenge {{ p }}"
                       data-placement="left" >
                        <span class="glyphicon glyphicon-screenshot"></span>
                        <span class="hidden-xs">Challenge!</span>
                    </a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    {% for turn in campaign.turn_set.all %}
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="media">
            {% if turn.map %}
            <a href="{{ turn.map.url }}" class="fancybox pull-left" target="_blank" title="{{ turn.label }}">
                <img src="{{ turn.map_thumbnail }}" 
                     class="media-object img-rounded img-responsive turn-map" 
                     alt="{{ turn.label }}" />
            </a>
            {% endif %}
            <div class="media-body">
                <h4 class="media-heading">
                    {{ turn.label }} 
                    {% if editable %}
                    <small>
                        <a href="{% url 'turns:edit' turn.pk %}" class="glyphicon glyphicon-pencil"></a>
                    </small>
                    {% endif %}
                </h4>
                {{ turn.description|markdown }}
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr><th>Status</th><th>Participant</th><th>vs</th><th>Participant</th></tr>
            </thead>
            <tbody>
                {% for challenge in turn.challenge_set.all %}
                <tr>
                    <td>{{ challenge.get_status_display }}</td>
                    <td>{{ challenge.challenger }}</td>
                    <td>vs</td>
                    <td>{{ challenge.recipient }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block custom_js %}
    $(document).ready(function() {
        $('.tooltipped').tooltip();
        $('.fancybox').fancybox();
    });
{% endblock %}
